
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    padding: 18px 35px;
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
nav .menu{
    list-style-type: none;
    display: flex;
    gap: 51px;
    align-items: center;
}

nav .menu li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #474747;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;

}

.color-orange{
    color: #FD6E0A;
}

header{
    background-color: #FFF8F3;
    padding: 20px 0;
}

nav{
    width: 71%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   
}