
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner{
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.header-content h1 {
    font-size: 85px;
    font-weight: 600;
    color: #181818;
    margin-bottom: 20px;
}

.header-content p {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
   
}


.header-image{
    max-width: 585px; 
    vertical-align: middle;
    margin-bottom: -25px;
    
    

}

.btn{
    padding: 18px 35px;
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
nav .menu{
    list-style-type: none;
    display: flex;
    gap: 51px;
    align-items: center;
}

nav .menu li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #474747;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;

}

.color-orange{
    color: #FD6E0A;
}

header{
    background-color: #FFF8F3;
    padding: 20px 0;
    background: url(developer.png),url(header_bg.png),#FFF8F3;
    background-repeat: no-repeat;
    padding-top: 50px;
    background-position: top left, bottom right;
}

nav{
    width: 71%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   
}      

#about{
padding-top: 130px;    
}

.section-heading{
    text-align: center;
    max-width: 827px;
}

.section-heading h2{
    font-size: 35px;
    font-weight: 900;
    color: #181818;
    margin-bottom: 30px;
}

.section-heading p{
    font-size: 20px;
    font-weight: 400;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

.skills-heading{
    text-align: center;
    max-width: 827px;
    margin: 0 auto;
}

.skills-heading h2{
    font-size: 35px;
    font-weight: 900;
    color: #181818;
    margin-bottom: 30px;
}

.skills-heading p{
    font-size: 20px;
    font-weight: 400;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#about .section-content{
    width: 71%;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}

.about-info {
    display: flex;
    justify-content: space-around;
}

.about-info p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}


#skills{
    padding-top: 130px;
       
}

.prgrm{
    width: 71%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
    gap: 24px;
}

.skill-card{
    background-color: #FFFFFF;
    border-radius: 5px;
    max-width: 370px;
    text-align:left;
    padding:30px;
    box-shadow: 0 6px 50px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.skill-card img{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    
}
.skill-card h3{
    font-size: 20px;
    font-weight: 600;
    color: #181818;
    margin-bottom: 15px;
}

.skill-card p{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    line-height: 28px;
}





